.series {
  &__download {
    background: url("../images/mission/series.png");
    @include adaptiv-padding(66, 35);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @include adaptiv-marginBottom(88, 35);
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: start;
    @include adaptiv-marginBottom(88, 35);
  }

  &__img {
    width: 48%;
    object-fit: cover;
  }

  &__text {
    width: 48%;
    color: #292929;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 182.182%;
  }
}
@media (max-width: 1000px) {
  .series {
    &__info {
      flex-direction: column;
    }
    &__img {
      width: 100%;
      margin-bottom: 20px;
    }
    &__text {
      width: 100%;
    }
  }
}
