.technology {
  background: url("../images/mission/technology.png");
  padding: 66px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.technology__link {
  padding: 18px 30px;
}
