.libra-about {
  &__title {
    color: #292929;
    @include adaptiv-font(40, 30);
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 1.2px;
    margin-bottom: 47px;
  }

  &__block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  &__text {
    width: 60%;
    color: #292929;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 182.182%;
  }

  &__slider {
    width: 30%;
    overflow: hidden;

    &-img {
      width: 100%;
      object-fit: cover;
    }

    &-item {
      margin-bottom: 36px;
    }
  }

  &__download {
    display: flex;
    @include adaptiv-marginBottom(88, 35);
    &-item {
      margin-right: 40px;

      &--second {
        display: flex;
        align-items: center;
        background: #739db2;
        padding: 18px 29px;
        &:hover {
          background: #ff4500;
        }
      }
    }
  }
}
@media (max-width: 1000px) {
  .libra-about {
    &__block {
      flex-direction: column;
    }
    &__text {
      margin-bottom: 30px;
      width: 100%;
    }
    &__slider {
      width: 100%;
    }
  }
}
@media (max-width: 610px) {
  .libra-about {
    &__download {
      flex-direction: column;
      align-items: center;
      &-item {
        text-align: center;
        margin-right: 0;
        &:first-child {
          margin-bottom: 20px;
        }
      }
    }
  }
}
