.values {
  margin-bottom: calc(35px + 53 * ((100vw - 320px) / 1600));
}
.values__title {
  margin-bottom: 43px;
  color: #292929;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.9px;
}
.values__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.values__item {
  width: 25%;
}
.values__item-last {
  width: 30%;
}
.values__item-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.values__item-icon {
  margin-right: 20px;
}
.values__item-title {
  color: #292929;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.54px;
}
.values__item-subtitle {
  color: #292929;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.48px;
  max-width: 266px;
}
.values__text {
  color: #6a6868;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 129.682%;
}
@media (max-width: 1100px) {
  .values__item {
    width: 31%;
  }
}
@media (max-width: 810px) {
  .values__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .values__item {
    width: 100%;
  }
  .values__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
