.values {
  @include adaptiv-marginBottom(88, 35);

  &__title {
    margin-bottom: 43px;
    color: #292929;
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.9px;
  }

  &__block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    width: 25%;

    &-last {
      width: 30%;
    }

    &-top {
      display: flex;
      margin-bottom: 20px;
      flex-wrap: nowrap;
    }

    &-icon {
      margin-right: 20px;
    }

    &-title {
      color: #292929;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 0.54px;
    }

    &-subtitle {
      color: #292929;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 0.48px;
      max-width: 266px;
    }
  }

  &__text {
    color: #6a6868;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 129.682%;
  }
}
@media (max-width: 1100px) {
  .values {
    &__item {
      width: 31%;
    }
  }
}
@media (max-width: 810px) {
  .values {
    &__block {
      flex-direction: column;
    }
    &__item {
      width: 100%;
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }
}
