html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
ul[class],
ol[class] {
  padding: 0;
}
input::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
input::-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
input:-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
input:-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
input:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
input:focus:-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
input:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
textarea::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
textarea::-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
textarea:-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
textarea:-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
textarea:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
textarea:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
textarea:focus:-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
textarea:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
ul[class] {
  list-style: none;
}
li {
  list-style: none;
  margin: 0;
}
img {
  max-width: 100%;
  display: block;
}
input,
button,
textarea,
select {
  font: inherit;
}
input,
textarea {
  outline: none;
}
textarea {
  resize: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
button {
  border: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
  outline: none;
}
html,
body {
  overflow-x: hidden;
  height: 100%;
  color: #051b1f;
}
.box {
  height: 100vh;
  width: 100vw;
}
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
}
.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
.footer {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
.container {
  width: 70%;
  margin: 0 auto;
}
.button {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.27px;
  border-radius: 5px;
  background: #ff4500;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.button:hover {
  background: #bd3502;
}
.owl-stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.owl-nav {
  display: none;
}
.owl-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.owl-dot {
  border-radius: 2.5px;
  width: 21px;
  height: 7px;
  background: #a7cde0;
}
.owl-dot:not(:last-child) {
  margin-right: 10px;
}
.owl-dot.active {
  background: #ff4500;
}
@media (max-width: 1300px) {
  .container {
    width: 90%;
  }
}
.header__submenu .header__menu-item:first-child {
  border-radius: 5px 5px 0 0;
}
.header__submenu .header__menu-item:last-child {
  border-radius: 0 0 5px 5px;
}
.header__submenu {
  top: 40px;
  padding: 6px 5px 8px 8px;
  background: #fff;
  z-index: 9999;
  display: none;
  position: absolute;
  top: 15px;
  margin-left: 25px;
  min-width: 267px;
}
.header__menu-item--submenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
.header__submenu .header__menu-item {
  border-left: 2px solid rgba(255, 69, 0, 0.2);
  padding: 5px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header__submenu .header__menu-item:hover {
  border-left: 2px solid rgba(255, 69, 0, 0.9);
}
.header__submenu .header__menu-item:hover li a {
  color: #fff;
  background: rgba(255, 69, 0, 0.9);
}
.header__submenu li a {
  display: block;
  padding: 5px 13px;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  color: #6a6868;
  border-radius: 5px;
  background: #fff;
}
.header__submenu .active-link .header__menu-item li a {
  color: #fff;
  background: rgba(255, 69, 0, 0.9);
}
.header__submenu .active-link .header__menu-item {
  border-left: 2px solid rgba(255, 69, 0, 0.9);
}
.advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: calc(35px + 53 * ((100vw - 320px) / 1600));
}
.advantages__title {
  color: #ff4500;
  text-align: center;
  font-size: calc(30px + 10 * ((100vw - 320px) / 1600));
  font-style: normal;
  font-weight: 400;
  line-height: 141.182%;
  margin-bottom: 25px;
}
.advantages__text {
  color: #292929;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 155.682%;
  max-width: 1186px;
  margin-bottom: 25px;
}
.advantages__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.advantages__item {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: block;
  width: 325px;
  height: 325px;
}
.advantages__item--first {
  background: url("../images/about_us/provider.svg");
}
.advantages__item--first:hover {
  background: url("../images/about_us/provider-hover.svg");
}
.advantages__item--second {
  background: url("../images/about_us/tasks.svg");
}
.advantages__item--second:hover {
  background: url("../images/about_us/tasks-hover.svg");
}
.advantages__item--third {
  background: url("../images/about_us/obligations.svg");
}
.advantages__item--third:hover {
  background: url("../images/about_us/obligations-hover.svg");
}
.mission {
  margin-bottom: calc(35px + 53 * (100vw - 320px) / 1600);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: url("../images/about_us/mission.png");
  padding: 40px;
  width: 100%;
}
.mission__title {
  color: #fff;
  font-size: calc(30px + 20 * ((100vw - 320px) / 1600));
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.5px;
  margin-bottom: 23px;
}
.mission__text {
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 182.182%;
  margin-bottom: 23px;
  max-width: 914px;
}
.mission__download {
  padding: 18px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.mission__download-icon {
  margin-left: 10px;
}
.development {
  margin-bottom: calc(35px + 53 * ((100vw - 320px) / 1600));
}
.development__title {
  color: #292929;
  font-size: calc(30px + 10 * ((100vw - 320px) / 1600));
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 1.2px;
  margin-bottom: calc(35px + 37 * ((100vw - 320px) / 1600));
}
.development__slider-year {
  margin-bottom: calc(15px + 10 * ((100vw - 320px) / 1600));
  color: #739db2;
  font-size: calc(30px + 10 * ((100vw - 320px) / 1600));
  font-style: normal;
  font-weight: 700;
  line-height: 155.682%;
  padding-left: 20px;
  border-left: 3px solid #739db2;
}
.development__slider-block {
  padding: calc(10px + 15 * ((100vw - 320px) / 1600));
  border-radius: 5px;
  border: 1px solid #739db2;
  height: 293px;
  width: 100%;
  margin-bottom: calc(20px + 36 * ((100vw - 320px) / 1600));
}
.development__slider-text {
  color: #292929;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 182.182%;
}
.development__slider-item:hover .development__slider-year {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #ff4500;
  border-left: 3px solid #ff4500;
}
.development__slider-item:hover .development__slider-block {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #ff4500;
  -webkit-box-shadow: 4px 7px 10px 0px rgba(255, 69, 0, 0.15);
  box-shadow: 4px 7px 10px 0px rgba(255, 69, 0, 0.15);
}
@media (max-width: 1420px) {
  .development__slider-block {
    height: 370px;
  }
}
@media (max-width: 1100px) {
  .development__slider-block {
    height: 275px;
  }
}
@media (max-width: 520px) {
  .development__slider-block {
    height: 375px;
  }
}
@media (max-width: 380px) {
  .development__slider-block {
    height: 450px;
  }
}
.number {
  margin-bottom: calc(35px + 53 * ((100vw - 320px) / 1600));
}
.number__title {
  margin-bottom: 28px;
  color: #292929;
  font-size: 30px;
  font-weight: 300;
  line-height: normal;
}
.number__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: calc(35px + 53 * ((100vw - 320px) / 1600));
}
.number__block-item {
  position: relative;
  padding-left: 34px;
  min-width: 300px;
  width: 30%;
}
.number__block-item::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 2px;
  height: 67px;
  background-color: #739db2;
}
.number__block-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 10px;
}
.number__block-digit {
  font-weight: 300;
  font-size: 50px;
  line-height: normal;
  letter-spacing: 1.5px;
  color: #ff4500;
  margin-right: 17px;
}
.number__block-info {
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: 14px;
  color: #292929;
  letter-spacing: 0.42px;
  width: 50%;
}
.number__block-text {
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  line-height: 129.682%;
  color: #6a6868;
}
@media (max-width: 990px) {
  .number__block {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .number__block-item {
    width: 45%;
  }
  .number__block-item:not(:last-child) {
    margin-bottom: 25px;
  }
}
@media (max-width: 670px) {
  .number__block-item {
    width: 100%;
  }
}
.team {
  background: url("../images/about_us/team.png") center no-repeat;
  background-size: cover;
  padding-top: calc(30px + 37 * ((100vw - 320px) / 1600));
  padding-bottom: calc(40px + 66 * ((100vw - 320px) / 1600));
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.team__title {
  color: #fff;
  font-size: calc(30px + 10 * ((100vw - 320px) / 1600));
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.2px;
  text-align: center;
  padding-bottom: calc(30px + 28 * ((100vw - 320px) / 1600));
}
.team__info {
  max-width: 1186px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.team__subtitle {
  color: #fff;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.9px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.team__item {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.team__item-second {
  width: 35%;
}
.team__line {
  margin-left: 20px;
  width: 36px;
  height: 2px;
  background-color: #ff4500;
}
.team__text {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 182.182%;
  margin-bottom: 30px;
  max-width: 557px;
}
.team__stat {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 182.182%;
}
.team__stat-pers {
  color: #ff4500;
}
.team__about {
  margin-bottom: 30px;
}
.team__button {
  padding: 8px 12px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
@media (max-width: 950px) {
  .team__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .team__item {
    margin-bottom: 20px;
    width: 90%;
  }
  .team__text {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
}
.values {
  margin-bottom: calc(35px + 53 * ((100vw - 320px) / 1600));
}
.values__title {
  margin-bottom: 43px;
  color: #292929;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.9px;
}
.values__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.values__item {
  width: 25%;
}
.values__item-last {
  width: 30%;
}
.values__item-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.values__item-icon {
  margin-right: 20px;
}
.values__item-title {
  color: #292929;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.54px;
}
.values__item-subtitle {
  color: #292929;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.48px;
  max-width: 266px;
}
.values__text {
  color: #6a6868;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 129.682%;
}
@media (max-width: 1100px) {
  .values__item {
    width: 31%;
  }
}
@media (max-width: 810px) {
  .values__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .values__item {
    width: 100%;
  }
  .values__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
.description {
  margin-bottom: 88px;
}
.description__title {
  margin-bottom: 25px;
  color: #292929;
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 1.2px;
}
.description__text {
  color: #292929;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 182.182%;
}
.vacancy {
  margin-bottom: calc(35px + 53 * ((100vw - 320px) / 1600));
}
.vacancy__title {
  margin-bottom: calc(25px + 18 * ((100vw - 320px) / 1600));
  color: #292929;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.9px;
}
.vacancy__slider {
  overflow: hidden;
}
.vacancy__slider-item {
  margin-bottom: calc(25px + 31 * ((100vw - 320px) / 1600));
  position: relative;
}
.vacancy__item {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #d5d5d5;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}
.vacancy__item:hover {
  border: 1px solid #ff4500;
}
.vacancy__item-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ff4500;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 10px;
}
.vacancy__item-down {
  margin-left: 10px;
}
.vacancy__item-salary {
  color: #292929;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 10px;
}
.vacancy__item-text {
  color: #292929;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  margin-bottom: 30px;
}
.vacancy__item-subtitle {
  margin-bottom: 5px;
}
.vacancy__button {
  padding: 15px 30px;
}
.modal {
  display: none;
}
.modal__overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(41, 41, 41, 0.7);
  z-index: 12;
}
.modal__form {
  z-index: 10000;
  position: fixed;
  width: 838px;
  max-height: 650px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 20px;
  padding: 40px;
  overflow-y: scroll;
}
.modal__close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.modal__title {
  color: #ff4500;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-bottom: 30px;
}
.modal__salary {
  color: #292929;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.modal__text {
  color: #292929;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
.modal__subtitle {
  padding-bottom: 16px;
}
.modal__description {
  padding-bottom: 30px;
}
.modal__button {
  padding: 15px 30px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.resume {
  width: 100%;
  background: url("../images/career/resume.png");
  padding: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 100px;
  margin-bottom: calc(35px + 53 * ((100vw - 320px) / 1600));
}
.resume__text {
  color: #fff;
  text-align: center;
  font-size: calc(25px + 5 * ((100vw - 320px) / 1600));
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.resume__button {
  padding: 18px 30px;
}
@media (max-width: 855px) {
  .resume {
    gap: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.gallery {
  margin-bottom: calc(35px + 53 * ((100vw - 320px) / 1600));
}
.gallery__slider-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [3];
  grid-template-columns: repeat(3, 1fr);
  grid-gap: calc(10px + 46 * ((100vw - 320px) / 1600));
  margin-bottom: calc(25px + 31 * ((100vw - 320px) / 1600));
}
.gallery__img {
  cursor: pointer;
  -o-object-fit: cover;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
}
.enlarged-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 9999;
}
.enlarged-image img {
  max-width: 80%;
  max-height: 80%;
  -o-object-fit: contain;
  object-fit: contain;
}
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}
.mission-company {
  margin-bottom: calc(35px + 53 * ((100vw - 320px) / 1600));
}
.mission-company__title {
  margin-bottom: 47px;
  color: #292929;
  font-size: calc(30px + 10 * ((100vw - 320px) / 1600));
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 1.2px;
}
.mission-company__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: calc(35px + 53 * ((100vw - 320px) / 1600));
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
}
.mission-company__text {
  color: #292929;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 182.182%;
  max-width: 45%;
}
.mission-company__img {
  -o-object-fit: cover;
  object-fit: cover;
  max-width: 40%;
}
.mission-company__eco {
  background: url("../images/mission/travlenie-back.png");
  padding: 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.mission-company__eco-title {
  color: #292929;
  text-align: right;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.2px;
  padding-bottom: 23px;
}
.mission-company__eco-text {
  color: #292929;
  text-align: right;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 182.182%;
  padding-bottom: 23px;
  max-width: 655px;
}
@media (max-width: 900px) {
  .mission-company__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .mission-company__text {
    max-width: 100%;
    margin-bottom: 20px;
  }
  .mission-company__img {
    max-width: 100%;
  }
}
@media (max-width: 650px) {
  .mission-company__eco {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .mission-company__eco-title,
  .mission-company__eco-text {
    text-align: center;
  }
}
.contact {
  margin-bottom: calc(35px + 53 * ((100vw - 320px) / 1600));
}
.contact__title {
  color: #292929;
  font-size: calc(30px + 10 * ((100vw - 320px) / 1600));
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 1.2px;
  margin-bottom: 48px;
}
.contact [class*="copyrights-pane"] {
  display: none !important;
}
.contact [class*="ground-pane"] {
  -webkit-filter: grayscale(90%);
  filter: grayscale(90%);
}
.contact__block {
  width: 100%;
  border-radius: 5px;
  -webkit-box-shadow: 0px 4px 20px 0px rgba(142, 140, 140, 0.25);
  box-shadow: 0px 4px 20px 0px rgba(142, 140, 140, 0.25);
  margin-bottom: calc(35px + 53 * ((100vw - 320px) / 1600));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contact__map {
  width: 50%;
  max-height: 662px;
}
.contact__form {
  width: 50%;
  padding: 34px 90px;
  background: #fff;
}
.contact__form-title {
  color: #292929;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-bottom: 35px;
}
.contact__form-input {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #cacaca;
  padding: 15px 30px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.24px;
  margin-bottom: 15px;
}
.contact__form-input:last-child {
  margin-bottom: 25px;
}
.contact__form-input::-webkit-input-placeholder {
  color: #6a6868;
}
.contact__form-input::-moz-placeholder {
  color: #6a6868;
}
.contact__form-input:-ms-input-placeholder {
  color: #6a6868;
}
.contact__form-input::-ms-input-placeholder {
  color: #6a6868;
}
.contact__form-input::placeholder {
  color: #6a6868;
}
.contact__form-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  margin-bottom: 34px;
}
.contact__form-check .contact__form-text {
  margin-bottom: 0;
}
.contact__form-checkbox {
  margin-right: 17px;
}
.contact__form-text {
  color: #292929;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 34px;
}
.contact__form-button {
  padding: 18px 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.contact__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: calc(30px + 30 * ((100vw - 320px) / 1600));
}
.contact__address-item {
  width: 49%;
}
.contact__address-place {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  margin-bottom: 25px;
}
.contact__address-place .contact__address-icon {
  margin-top: 8px;
}
.contact__address-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 25px;
}
.contact__address-tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.contact__address-icon {
  margin-right: 20px;
}
.contact__address-text {
  color: #292929;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 150.682%;
}
.contact__media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contact__media-item {
  margin-right: 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.contact__media-item:hover {
  scale: 1.1;
}
@media (max-width: 1200px) {
  .contact__form {
    padding: 20px 40px;
  }
}
@media (max-width: 850px) {
  .contact__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .contact__map {
    width: 100%;
    height: 362px;
  }
  .contact__form {
    width: 100%;
  }
  .contact__address {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .contact__address-item {
    width: 100%;
  }
  .contact__address-item:last-child {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .contact__address-item:first-child {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
}
.event__text {
  color: #ff4500;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 182.182%;
  padding-bottom: 18px;
}
.event__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 3px 8px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.event__button-icon {
  margin-right: 6px;
}
.pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.pages__item {
  color: #cdcdcd;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  cursor: pointer;
  margin-right: 10px;
}
.pages__item-active {
  color: #292929;
}
.pages__arrow {
  cursor: pointer;
  margin-right: 10px;
}
.pages__arrow-inactive {
  display: block;
}
.pages__arrow-active {
  display: none;
}
.pages__arrow-active--left {
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.pages__arrow:hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.pages__arrow:hover .pages__arrow-active {
  display: block;
}
.pages__arrow:hover .pages__arrow-inactive {
  display: none;
}
.slider-main {
  width: 70%;
  padding: calc(20px + 30 * (100vw - 270px) / 1650);
  height: 100%;
}
.slider-title {
  margin-bottom: 21px;
  font-style: normal;
  font-weight: normal;
  font-size: calc(14px + 8 * (100vw - 270px) / 1650);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}
.slider-text {
  text-align: justify;
  margin-bottom: 33px;
  font-weight: normal;
  font-size: calc(12px + 4 * (100vw - 270px) / 1650);
  line-height: 182.18%;
  max-height: 100px;
  overflow: hidden;
  position: relative;
}
.slider-text-open {
  max-height: none;
}
.bottom {
  position: absolute;
  bottom: 0;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(255, 217, 29, 0)),
    color-stop(90%, rgb(255, 255, 255))
  );
  background: linear-gradient(
    to bottom,
    rgba(255, 217, 29, 0),
    rgb(255, 255, 255) 90%
  );
  width: 100%;
  height: 60px;
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.read-more-checker {
  opacity: 0;
  position: absolute;
}
.read-more-checker:checked ~ .slider-text .bottom {
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.hidden {
  display: none;
}
.article {
  margin-bottom: 88px;
}
.article__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #ff4500;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 182.182%;
  margin-bottom: 20px;
}
.article__link-icon {
  margin-right: 6px;
}
.article__title {
  color: #292929;
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 1.2px;
  padding-bottom: 16px;
}
.article__info {
  margin-bottom: 88px;
}
.article__img {
  width: 40%;
  float: right;
  margin: 0 0 40px 40px;
  -o-object-fit: cover;
  object-fit: cover;
}
.article__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px;
  color: #292929;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.72px;
}
.article__icon {
  margin-left: 17px;
}
.article__text {
  color: #292929;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 182.182%;
  margin-bottom: 40px;
  text-align: justify;
}
.article__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 850px;
  margin-bottom: 60px;
}
.article__author-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.article__author-photo {
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  width: 30%;
  margin-right: 30px;
}
.article__author-info {
  margin-right: 30px;
}
.article__author-name {
  color: #292929;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 182.182%;
}
.article__author-post {
  color: #292929;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 182.182%;
}
.article__author-other {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 15px 30px;
  border-radius: 5px;
  background: #739db2;
}
.technologies__top-home .link-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  background-color: #ff4500;
  padding: 5px 20px;
  border-radius: 5px;
}
.link-all {
  font-weight: normal;
  font-size: 18px;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
@media (max-width: 700px) {
  .footer__container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .footer__column:nth-child(3) {
    width: 100%;
  }
  .footer__bottom-content .footer__address-container > div {
    width: 100%;
  }
  .footer .footer__column .footer__bottom-content {
    gap: 20px;
  }
}
@media (max-width: 750px) {
  .article__author {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .article__author-main {
    margin-bottom: 20px;
  }
}
.technology {
  background: url("../images/mission/technology.png");
  padding: 66px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}
.technology__link {
  padding: 18px 30px;
}
.series__download {
  background: url("../images/mission/series.png");
  padding: calc(35px + 31 * ((100vw - 320px) / 1600));
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: calc(35px + 53 * ((100vw - 320px) / 1600));
}
.series__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  margin-bottom: calc(35px + 53 * ((100vw - 320px) / 1600));
}
.series__img {
  width: 48%;
  -o-object-fit: cover;
  object-fit: cover;
}
.series__text {
  width: 48%;
  color: #292929;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 182.182%;
}
@media (max-width: 1000px) {
  .series__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .series__img {
    width: 100%;
    margin-bottom: 20px;
  }
  .series__text {
    width: 100%;
  }
}
.category__title {
  color: #292929;
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 1.2px;
  margin-bottom: 47px;
}
.category__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  position: relative;
}
.category__button {
  padding: 10px;
  background: #739db2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 34px;
}
.category__button:hover {
  background: #ff4500;
}
.category__button-icon {
  margin-left: 10px;
}
.category__button-icon--up {
  display: none;
}
.jlmf-label[for],
.jlmf-sublabel[for] {
  cursor: pointer;
}
.equipment__role-label {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  color: #6a6868;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
}
.equipment__role-label::before {
  position: relative;
  margin-right: 6px;
  content: "";
  width: 17px;
  height: 17px;
  border-radius: 3px;
  border: 0.5px solid #ff6755;
  background-color: #eff6f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.equipment__role-checkbox:checked + .equipment__role-label::before {
  content: "+";
  color: #ff4500;
  font-size: 16px;
}
.jlcontentfieldsfilter input {
  height: 32px;
  line-height: 32px;
  margin: 0;
}
.jlmf-checkbox,
.jlmf-radio {
  display: inline-block;
  margin-top: 2px;
  margin-right: 5px;
}
.equipment__role-checkbox {
  display: none !important;
}
.equipment__role-item {
  margin-right: 16px;
  margin-bottom: 16px;
}
.equipment__role-list {
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: absolute;
  left: 0;
  top: 66px;
}
@media (max-width: 640px) {
  .category__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .category__block-item {
    margin-bottom: 15px;
    margin-right: 0;
  }
  .equipment__role-list {
    position: relative;
    top: 0;
    margin-top: 10px;
  }
}
.end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.end-question,
.end-team,
.end-mission {
  padding: 57px;
}
.end-technology {
  padding: 43px;
  background: url("../images/end/technology.png");
}
.end-technology__text {
  text-align: center;
  font-size: 30px !important;
  margin-bottom: 50px;
}
.end-question {
  background: url("../images/end/question.png");
}
.end-mission {
  background: url("../images/end/mission.png");
}
.end-team {
  background: url("../images/end/team.png");
}
.end-services {
  padding: 43px;
  background: url("../images/end/services.png");
}
.end-equiment {
  padding: 43px;
  background: url("../images/end/equiment.png");
}
.end__text {
  color: #fff;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 100px;
}
.end__button {
  padding: 18px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}
.end__button-tech {
  margin: 0 auto;
}
.end-mail {
  background: #3c5461;
  padding: 23px;
}
.end-mail__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.end-mail__icon {
  margin-right: 21px;
}
.end-mail__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.end-mail__entry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 511px;
}
.end-mail__input {
  border-radius: 5px;
  background: #f6f6f6;
  border: none;
  width: 371px;
  padding: 13px 16px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.end-mail__input::-webkit-input-placeholder {
  color: #a9a9a9;
}
.end-mail__input::-moz-placeholder {
  color: #a9a9a9;
}
.end-mail__input:-ms-input-placeholder {
  color: #a9a9a9;
}
.end-mail__input::-ms-input-placeholder {
  color: #a9a9a9;
}
.end-mail__input::placeholder {
  color: #a9a9a9;
}
.end-mail__button {
  margin-left: -20px;
  padding: 13px 15px;
}
@media (max-width: 1000px) {
  .end-mail__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .end-mail__text {
    margin-bottom: 20px;
  }
  .end-mail__input,
  .end-mail__entry {
    max-width: 511px;
    width: 100%;
  }
}
@media (max-width: 900px) {
  .end {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .end__text {
    margin-bottom: 30px;
    margin-right: 0;
  }
}
.libra-about__title {
  color: #292929;
  font-size: calc(30px + 10 * ((100vw - 320px) / 1600));
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 1.2px;
  margin-bottom: 47px;
}
.libra-about__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 50px;
}
.libra-about__text {
  width: 60%;
  color: #292929;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 182.182%;
}
.libra-about__slider {
  width: 30%;
  overflow: hidden;
}
.libra-about__slider-img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.libra-about__slider-item {
  margin-bottom: 36px;
}
.libra-about__download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: calc(35px + 53 * ((100vw - 320px) / 1600));
}
.libra-about__download-item {
  margin-right: 40px;
}
.libra-about__download-item--second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #739db2;
  padding: 18px 29px;
}
.libra-about__download-item--second:hover {
  background: #ff4500;
}
@media (max-width: 1000px) {
  .libra-about__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .libra-about__text {
    margin-bottom: 30px;
    width: 100%;
  }
  .libra-about__slider {
    width: 100%;
  }
}
@media (max-width: 610px) {
  .libra-about__download {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .libra-about__download-item {
    text-align: center;
    margin-right: 0;
  }
  .libra-about__download-item:first-child {
    margin-bottom: 20px;
  }
}
.parameters__title {
  color: #292929;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 21px;
}
.parameters__table {
  width: 100%;
  margin-bottom: calc(35px + 53 * ((100vw - 320px) / 1600));
}
.parameters__table td {
  padding: 10px;
  border: 1px solid #c1c1c1;
}
.parameters__table td:first-child {
  width: 50%;
}
.parameters .tr-orange td {
  background-color: #ff4500 !important;
  color: #fff !important;
}
.parameters .td-big {
  text-align: center;
}
