.advantages {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include adaptiv-marginBottom(88, 35);

  &__title {
    color: #ff4500;
    text-align: center;
    @include adaptiv-font(40, 30);
    font-style: normal;
    font-weight: 400;
    line-height: 141.182%;
    margin-bottom: 25px;
  }

  &__text {
    color: #292929;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 155.682%;
    max-width: 1186px;
    margin-bottom: 25px;
  }

  &__block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__item {
    transition: all 0.3s;
    display: block;
    width: 325px;
    height: 325px;

    &--first {
      background: url("../images/about_us/provider.svg");
      &:hover {
        background: url("../images/about_us/provider-hover.svg");
      }
    }

    &--second {
      background: url("../images/about_us/tasks.svg");
      &:hover {
        background: url("../images/about_us/tasks-hover.svg");
      }
    }

    &--third {
      background: url("../images/about_us/obligations.svg");
      &:hover {
        background: url("../images/about_us/obligations-hover.svg");
      }
    }
  }
}
