.category__title {
  color: #292929;
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 1.2px;
  margin-bottom: 47px;
}
.category__block {
  display: flex;
  margin-bottom: 30px;
  position: relative;
}
.category__button {
  padding: 10px;
  background: #739db2;
  display: flex;
  align-items: center;
  margin-right: 34px;
}
.category__button:hover {
  background: #ff4500;
}
.category__button-icon {
  margin-left: 10px;
}
.category__button-icon--up {
  display: none;
}

.jlmf-label[for],
.jlmf-sublabel[for] {
  cursor: pointer;
}

.equipment__role-label {
  display: flex !important;
  flex-direction: row;
  color: #6a6868;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
}

.equipment__role-label::before {
  position: relative;
  margin-right: 6px;
  content: "";
  width: 17px;
  height: 17px;
  border-radius: 3px;
  border: 0.5px solid #ff6755;
  background-color: #eff6f9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.equipment__role-checkbox:checked + .equipment__role-label::before {
  content: "+";
  color: #ff4500;
  font-size: 16px;
}

.jlcontentfieldsfilter input {
  height: 32px;
  line-height: 32px;
  margin: 0;
}

.jlmf-checkbox,
.jlmf-radio {
  display: inline-block;
  margin-top: 2px;
  margin-right: 5px;
}

.equipment__role-checkbox {
  display: none !important;
}

.equipment__role-item {
  margin-right: 16px;
  margin-bottom: 16px;
}

.equipment__role-list {
  display: none;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  left: 0;
  top: 66px;
}
