.team {
  background: url("../images/about_us/team.png") center no-repeat;
  background-size: cover;
  @include adaptiv-paddingTop(67, 30);
  @include adaptiv-paddingBottom(106, 40);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    color: #fff;
    @include adaptiv-font(40, 30);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.2px;
    text-align: center;
    @include adaptiv-paddingBottom(58, 30);
  }

  &__info {
    max-width: 1186px;
    display: flex;
    justify-content: space-between;
  }

  &__subtitle {
    color: #fff;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.9px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }

  &__item {
    width: 50%;
    display: flex;
    flex-direction: column;

    &-second {
      width: 35%;
    }
  }

  &__line {
    margin-left: 20px;
    width: 36px;
    height: 2px;
    background-color: #ff4500;
  }

  &__text {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 182.182%;
    margin-bottom: 30px;
    max-width: 557px;
  }

  &__stat {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 182.182%;

    &-pers {
      color: #ff4500;
    }
  }

  &__about {
    margin-bottom: 30px;
  }

  &__button {
    padding: 8px 12px;
    width: fit-content;
  }
}

@media (max-width: 950px) {
  .team {
    &__info {
      flex-direction: column;
      align-items: center;
    }

    &__item {
      margin-bottom: 20px;
      width: 90%;
    }
    &__text {
      max-width: fit-content;
    }
  }
}
