.article {
  margin-bottom: 88px;
}
.article__link {
  display: flex;
  align-items: center;
  color: #ff4500;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 182.182%;
  margin-bottom: 20px;
}
.article__link-icon {
  margin-right: 6px;
}
.article__title {
  color: #292929;
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 1.2px;
  padding-bottom: 16px;
}
.article__info {
  margin-bottom: 88px;
}
.article__img {
  width: 40%;
  float: right;
  margin: 0 0 40px 40px;
  object-fit: cover;
}
.article__date {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  color: #292929;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.72px;
}
.article__icon {
  margin-left: 17px;
}
.article__text {
  color: #292929;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 182.182%;
  margin-bottom: 40px;
  text-align: justify;
}
.article__author {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 850px;
  margin-bottom: 60px;
}
.article__author-main {
  display: flex;
  align-items: center;
}
.article__author-photo {
  border-radius: 50%;
  object-fit: cover;
  margin-right: 30px;
  width: 30%;
}
.article__author-info {
  margin-right: 30px;
}
.article__author-name {
  color: #292929;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 182.182%;
}
.article__author-post {
  color: #292929;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 182.182%;
}
.article__author-other {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 15px 30px;
  border-radius: 5px;
  background: #739db2;
}

.technologies__top-home .link-all {
  display: flex;
  align-items: center;
  color: white;
  background-color: #ff4500;
  padding: 5px 20px;
  border-radius: 5px;
}
.link-all {
  font-weight: normal;
  font-size: 18px;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  width: fit-content;
  height: fit-content;
}

@media (max-width: 750px) {
  .article__author {
    align-items: start;
    flex-direction: column;
  }
  .article__author-main {
    margin-bottom: 20px;
  }
}

@media (max-width: 700px) {
  .footer__container {
    flex-wrap: wrap;
  }

  .footer__column:nth-child(3) {
    width: 100%;
  }

  .footer__bottom-content .footer__address-container > div {
    width: 100%;
  }

  .footer .footer__column .footer__bottom-content {
    gap: 20px;
  }
}
