.event {
  &__text {
    color: #ff4500;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 182.182%;
    padding-bottom: 18px;
  }

  &__button {
    display: flex;
    align-items: center;
    padding: 3px 8px;
    width: fit-content;

    &-icon {
      margin-right: 6px;
    }
  }
}

.pages {
  display: flex;
  margin: 0 auto;
  align-items: center;

  &__item {
    color: #cdcdcd;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    cursor: pointer;

    &-active {
      color: #292929;
    }
    margin-right: 10px;
  }

  &__arrow {
    cursor: pointer;
    margin-right: 10px;

    &-inactive {
      display: block;
    }
    &-active {
      display: none;

      &--left {
        transform: scale(-1, 1);
      }
    }

    &:hover {
      transition: all 0.3s;
      .pages__arrow-active {
        display: block;
      }
      .pages__arrow-inactive {
        display: none;
      }
    }
  }
}

.slider-main {
  width: 70%;
  padding: calc(20px + 30 * ((100vw - 270px) / 1650));
  height: 100%;
}

.slider-title {
  margin-bottom: 21px;
  font-style: normal;
  font-weight: normal;
  font-size: calc(14px + 8 * ((100vw - 270px) / 1650));
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.slider-text {
  text-align: justify;
  margin-bottom: 33px;
  font-weight: normal;
  font-size: calc(12px + 4 * ((100vw - 270px) / 1650));
  line-height: 182.18%;
  max-height: 100px;
  overflow: hidden;
  position: relative;
}

.slider-text-open {
  max-height: none;
}

.bottom {
  position: absolute;
  bottom: 0;
  background: linear-gradient(
    to bottom,
    rgb(255 217 29 / 0%),
    rgb(255, 255, 255) 90%
  );
  width: 100%;
  height: 60px;
  opacity: 1;
  transition: 0.3s;
}

.read-more-checker {
  opacity: 0;
  position: absolute;
}

.read-more-checker:checked ~ .slider-text .bottom {
  opacity: 0;
  transition: 0.3s;
}

.hidden {
  display: none;
}
