.contact {
  margin-bottom: 88px;
}
.contact__title {
  color: #292929;
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 1.2px;
  margin-bottom: 48px;
}
.contact [class*="copyrights-pane"] {
  display: none !important;
}
.contact [class*="ground-pane"] {
  filter: grayscale(90%);
}
.contact__block {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 4px 20px 0px rgba(142, 140, 140, 0.25);
  margin-bottom: 88px;
  display: flex;
}
.contact__map {
  width: 50%;
  max-height: 1000px;
}
.contact__form {
  width: 50%;
  padding: 34px 90px;
  background: #fff;
}
.contact__form-title {
  color: #292929;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-bottom: 35px;
}
.contact__form-input {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #cacaca;
  padding: 15px 30px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.24px;
  margin-bottom: 15px;
}
.contact__form-input:last-child {
  margin-bottom: 25px;
}
.contact__form-input::placeholder {
  color: #6a6868;
}
.contact__form-check {
  display: flex;
  align-items: start;
  margin-bottom: 34px;
}
.contact__form-checkbox {
  margin-right: 17px;
}
.contact__form-text {
  color: #292929;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 34px;
}
.contact__form-button {
  padding: 18px 31px;
  display: flex;
  margin: 0 auto;
}
.contact__address {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.contact__address-item {
  width: 49%;
}
.contact__address-place {
  display: flex;
  align-items: start;
  margin-bottom: 25px;
}
.contact__address-mail {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.contact__address-tel {
  display: flex;
  align-items: center;
}
.contact__address-icon {
  margin-right: 20px;
}
.contact__address-text {
  color: #292929;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 150.682%;
}
.contact__media {
  display: flex;
}
.contact__media-item {
  margin-right: 20px;
}
