.modal {
  display: none;

  &__overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(41, 41, 41, 0.7);
    z-index: 12;
  }

  &__form {
    z-index: 10000;
    position: fixed;
    width: 838px;
    max-height: 650px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border-radius: 20px;
    padding: 40px;
    overflow-y: scroll;
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }

  &__title {
    color: #ff4500;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-bottom: 30px;
  }

  &__salary {
    color: #292929;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  &__text {
    color: #292929;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
  }

  &__subtitle {
    padding-bottom: 16px;
  }

  &__description {
    padding-bottom: 30px;
  }

  &__button {
    padding: 15px 30px;
    margin: 0 auto;
    display: flex;
  }
}
