.resume {
  width: 100%;
  background: url("../images/career/resume.png");
  padding: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-bottom: 88px;
}
.resume__text {
  color: #fff;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.resume__button {
  padding: 18px 30px;
}
