.resume {
  width: 100%;
  background: url("../images/career/resume.png");
  padding: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  @include adaptiv-marginBottom(88, 35);

  &__text {
    color: #fff;
    text-align: center;
    @include adaptiv-font(30, 25);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__button {
    padding: 18px 30px;
  }
}
@media (max-width: 855px) {
  .resume {
    gap: 20px;
    flex-direction: column;
  }
}
