.number {
  margin-bottom: calc(35px + 53 * ((100vw - 320px) / 1600));
}
.number__title {
  margin-bottom: 28px;
  color: #292929;
  font-size: 30px;
  font-weight: 300;
  line-height: normal;
}
.number__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: calc(35px + 53 * ((100vw - 320px) / 1600));
}
.number__block-item {
  position: relative;
  padding-left: 34px;
  min-width: 300px;
  width: 30%;
}
.number__block-item::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 2px;
  height: 67px;
  background-color: #739db2;
}
.number__block-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 10px;
}
.number__block-digit {
  font-weight: 300;
  font-size: 50px;
  line-height: normal;
  letter-spacing: 1.5px;
  color: #ff4500;
  margin-right: 17px;
}
.number__block-info {
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: 14px;
  color: #292929;
  letter-spacing: 0.42px;
  width: 50%;
}
.number__block-text {
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  line-height: 129.682%;
  color: #6a6868;
}
@media (max-width: 990px) {
  .number__block {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .number__block-item {
    width: 45%;
  }
  .number__block-item:not(:last-child) {
    margin-bottom: 25px;
  }
}
@media (max-width: 670px) {
  .number__block-item {
    width: 100%;
  }
}
